/* Card styling */
.card {
  transition: all 0.2s ease;
  border: 1px solid var(--border);
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-outline-warning {
  color: var(--btn-primary);
  border-color: var(--btn-primary);
}

.btn-outline-warning:hover {
  background-color: var(--btn-primary);
  color: white;
}

.card-header {
  background-color: transparent;
}
.circular-progress-wrapper {
  width: 40px;
  height: 40px;
}

.circular-progress {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.circle-bg {
  fill: none;
  stroke: var(--main-bg) ;
  stroke-width: 3;
}

.circle {
  fill: none;
  stroke: var(--circle-progress);
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.percentage {
  fill: var(--label-primary);
  font-size: 0.6em;
  dominant-baseline: middle;
}

.bg-white{
  background-color: white;
  border: none;
}