<div class="container my-4">
    <h1 class="details-text-primary"> Appraisal Review {{review.id}}</h1>

    <div class="d-flex align-items-center my-4">
        <div>
            <h2 class="h5 mb-1">{{review.name}}</h2>
            <p class="text-muted mb-0">{{review.role}}</p>
        </div>
    </div>

    <p><strong>Review Title:</strong> {{review.reviewTitle}}</p>
    <p><strong>Status:</strong> {{review.status}}</p>


    <p>
        <strong>{{review.dueText}}:</strong> {{review.dueIn}}<br>
        <ng-container *ngIf="review.submitted">
            <strong>{{review.submittedText}}:</strong> {{review.submittedOn}}
        </ng-container>

    </p>
</div>