
<div class="postings-container ">
  <div class="posting-list">
    <div class="posting-item">
      <mat-checkbox [checked]="isSelected" (change)="toggleSelection()" class="selection-checkbox">
      </mat-checkbox>
      <div class="d-flex w-25">
        <img class="employee-photo d-flex rounded-circle" [src]="postingData.image" alt="">
      </div>
      <div class="employee-info d-flex flex-row w-100">
        <div class="employee-details d-flex flex-column w-100">
          <div class="employee-id">{{ postingData.id }} | {{ postingData.name }}</div>
          <div class="employee-dept">{{ postingData.department }}</div>
          <div class="employee-position">{{ postingData.position }}</div>
        </div>
      </div>

      <div class="posting-info d-flex flex-column w-100">
        <div class="posting-title">{{ postingData.postingType }}</div>
        <div class="posting-level">{{ postingData.postingLevel }}</div>
        <div class="request-date">Requested on: {{ postingData.requestDate }}</div>
      </div>

      <div class="rating-section d-flex flex-column w-50">
        <div class="rating-text" *ngIf="postingData.rating >= 40">
          {{ getRatingText(postingData.rating) }}
          <span>: {{ postingData.rating }}/{{ postingData.maxRating }}</span>
        </div>
        <div class="rating-text" *ngIf="postingData.rating < 40">
          {{ postingData.rating }}/{{ postingData.maxRating }}
        </div>
        <div class="rating-bar">
          <div class="rating-progress" [ngClass]="{
                  'high': postingData.rating >= 70,
                  'medium': postingData.rating >= 40 && postingData.rating < 70,
                  'low': postingData.rating < 40
                }" [style.width.%]="postingData.rating"></div>
        </div>
      </div>
      <div class="d-flex mx-3 bg-light ">
        <i class="fa fa-chevron-right "></i>
      </div>
    </div>
  </div>
</div>