<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="selectAll" [(ngModel)]="allSelected" (change)="toggleSelectAll()">
        <label class="form-check-label" for="selectAll">
          Select all ({{ selectedItems.length }} out of {{ items.length }} selected)
        </label>
      </div>
    </div>
  </div>

  <div class="list-group">
    @for (item of filteredItems; track item) {
    <div  class="list-group-item p-3 mb-2" [class.bg-light]="selectedItems.includes(item.id)">
      <div class="row gy-3 gx-2 align-items-center">

        <div class="col-auto">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [id]="'item-' + item.id"
                   [checked]="selectedItems.includes(item.id)"
                   (change)="toggleSelection(item.id)">
          </div>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-center  justify-content-md-start align-items-center">
          <img [src]="item.image" alt="User avatar" class="rounded-circle me-3" width="48" height="48">
          <div>
            <div class="fw-bold">{{ item.id }} | {{ item.name }}</div>
            <div class="text-muted">{{ item.department }}</div>
            <div class="text-muted">{{ item.position }}</div>
          </div>
        </div>

        <div class="col-12 col-md-4 text-md-start text-center">
          <div>{{ item.postingType }}</div>
          <div class="text-muted">{{ item.postingLevel }}</div>
          <div class="text-muted">Requested on: {{ item.requestDate }}</div>
        </div>

        <div class="col-12 col-md-3">
          <div class="d-flex flex-column align-items-md-start align-items-center">
            <div class="fw-semibold mb-1">{{ getRatingLabel(item.rating) }}: {{ item.rating }}/{{ item.maxRating }}</div>
            <div class="d-flex w-40 justify-content-center justify-content-md-start">
                @for (segment of [10, 10, 10, 10]; track $index) {
                <div class="flex-grow-1 me-1 progress-bar"
                     [ngClass]="getSegmentColorClass($index, item.rating, item.maxRating)">
                </div>
              }
            </div>
          </div>
        </div>

        <div class="col-12 col-md-auto">
          <div class=" d-flex align-items-end ">
            <button class="btn w-100 d-flex btn-link justify-content-end text-decoration-none p-0" (click)="onPostingDetails(item.id)">
              <i class="fa fa-chevron-right text-end fs-5"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  }
  </div>
</div>
