.list-group-item {
  min-height: 80px;
  border-radius: 0px;
  border: none;
  transition: background-color 0.2s;
}

.list-group-item:hover, .list-group-item:nth-child(odd):hover {
  background-color: var(--posting-list-hover );
}
.list-group-item:nth-child(odd){
  background-color: var(--filter-bg);
}

.progress-bar {
  border-radius: 2px;
  height: 8px;
}
