/* appraisals.component.css */
.appraisals-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  

  .appraisal-type select {
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
  }
  .filter{
    background-color: var(--filter-bg);
}
input[type="radio"] {
  accent-color: var(--btn-primary);
  
}

.radio-option input[type="radio"] {
appearance: none;
-webkit-appearance: none;
background-color: white;
margin: 0 4px 0 0;
font: inherit;
color: currentColor;
width: 18px;
height: 18px;
border: 1px solid black;
border-radius: 50%;
display: grid;
place-content: center;
cursor: pointer;
transition: border 0.2s ease-in-out;
}

.radio-option input[type="radio"]::before {
content: "";
width: 12px;
height: 12px;
border-radius: 50%;
transform: scale(0);
transition: transform 0.2s ease-in-out;
background-color: var(--btn-primary);
}

.radio-option input[type="radio"]:checked::before {
transform: scale(1);
}

.radio-label {
vertical-align: middle;
}
.filter-dropdowns {
  display: flex;
  margin-right: 80px;
  gap: 40px;
  
}
.dropdown-container {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.dropdown-label {
  margin-right: 10px;
  color: var(--label-primary);
  font-weight: 500;
}

.dropdown {
  padding: 6px 8px;
  margin-right: 6px;
  border-radius: 4px;
  background-color: white;
  min-width: 270px;
  outline: none;
  border: 1px solid var(--border);
}

.btn-outline-warning {
  color: var(--btn-primary);
  border-color: var(--btn-primary);
}

.btn-outline-warning:hover {
  background-color: var(--btn-primary);
  color: white;
}
