/* filter.component.scss */
.filter-container {
    padding: 20px 14px;
    background-color: rgba(248, 247, 247, 1);
    border-radius: 10px;
  }
  
  .filter-options {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  
  .label {
    font-weight: 500;
    color: #333;
    margin-right: 4px;
  }
  
  .radio-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 4px;
  }
  
  .radio-label {
    margin-left: 4px;
    color: #333;
  }
  
  .radio-icon {
    font-size: 12px;
  }
  
  .filter-dropdowns {
    display: flex;
    gap: 24px;
    
  }
  
  .dropdown-container {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
  }
  
  .dropdown-label {
    margin-right: 8px;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
  }
  
  .dropdown {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #fff;
    min-width: 200px;
    outline: none;
    border: none;
  }

  .fs-7{
    font-size: 14px;
  }
  input[type="radio"] {
    accent-color: rgba(247, 130, 4, 1);
    
}

.radio-option input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  margin: 0 4px 0 0;
  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.radio-option input[type="radio"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(247, 130, 4, 1);
}

.radio-option input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio-label {
  font-family: 'Inter', sans-serif;
  vertical-align: middle;
}
