<div class="container">
  <div class="row justify-content-end mt-0">
    <div class="col-md-12">
      <ng-container *ngIf="mode!=='posting'">
        <div class="search-container">
          <input type="text" [(ngModel)]="searchValue" (input)="onSearchChange()" class="form-control search-input"
            placeholder="Search">
          <i class="fas fa-search search-icon"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="mode==='posting'">
        <div class="d-flex">
          <div class="d-flex">
            <button type="button" class="btn btn-submit btn-post">
              Post
            </button>
            <button type="button" class="btn btn-light btn-export">
              Export
            </button>
          </div>
          <div class="search-container">
            <input type="text" [(ngModel)]="searchValue" (input)="onSearchChange()" class="form-control search-input-posting"
              placeholder="Filter">
            <i class="fas fa-search search-icon"></i>
          </div>
         
        </div>
      </ng-container>
    </div>
  </div>
</div>