.search-container {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search-input {
    height: 25px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-input-posting {
    height: 25px;
    border-radius: 10px;
    width: 100%;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--submit);
}
.btn-post{
color: white;
}
.btn-post, .btn-export{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
    min-width: 80px ;
    margin: 0 2px;
}
.btn-post:active, .btn-post:focus, .btn-export:active, .btn-export:focus{
    color: black;
    border-color: var(--submit);
}