
<div class="container-fluid mt-4">
    <app-filter [context]="'posting'"></app-filter>
    <div class="row mt-3">
      <div class="form-check mx-4 mt-3">
        <input
          type="checkbox"
          class="form-check-input"
          [checked]="areAllSelected()"
          [indeterminate]="isIndeterminate()"
          (change)="toggleSelectAll()"
          id="selectAllCheck"
        />
        <label for="selectAllCheck" class="form-check-label">Select All</label>
      </div>
      <div class="col-10" *ngFor="let post of filteredList" >
        <app-grid-view
          [postingData]="post"
          [isSelected]="selectedPostings.includes(post.id)"
          (selectionChange)="toggleSelection(post.id)" >
        </app-grid-view>
      </div>
    </div>
  </div>
  
